.popup__profile {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 3;
  height: 100%;
  position: fixed;
}

.popup_opened {
  display: block;
}

.popup__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/*Agregar Lugar PopUp*/

.popup__add {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 3;
  height: 100%;
  position: fixed;
}
.popup__add_opened {
  display: block;
}

.popup__add__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/*Image PopUp*/
.popup__image {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 3;
  height: 100%;
  position: fixed;
  justify-content: center;
}

.popup__image_opened {
  display: flex;
}

.popup__image__container {
  max-width: 830px;
  padding-top: 41px;
  display: flex;
  flex-direction: column;
}
.popup__image_button-close {
  width: 40px;
  align-self: end;
  right: -38px;
  background: transparent;
  border: none;
  position: relative;
}
.popup__image_button-close:hover {
  cursor: pointer;
  opacity: 0.7;
}

.popup__image_image {
  width: auto;
  padding-top: 2px;
  height: 540px;
}

.popup__image_name {
  padding-top: 10px;
  font-family: "Inter-regular";
  font-size: 12px;
  color: white;
}

@media (max-width: 900px) {
  /*Image PopUp*/
  .popup__image__container {
    max-width: 500px;
    padding-top: 100px;
  }
  .popup__image_image {
    height: 400px;
  }
}
@media (max-width: 630px) {
  /*Image PopUp*/
  .popup__image__container {
    max-width: 250px;
    padding-top: 100px;
  }
  .popup__image_image {
    height: 300px;
  }
}
